.MenuBurger {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.MenuBurger:hover {
  cursor: pointer;
}

.MenuBurger > div {
  margin-bottom: 5px;
  height: 5px;
  border: 1px solid white;
  background-color: white;
  width: 25px;
  border-radius: 10px;
}

@media (min-width: 600px) {
  .MenuBurger {
    display: none;
  }
}
